.feedback {
  padding: 180px 0;

  &__title {
    @extend %title;
    margin-bottom: 38px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px $global-columns-gap;
    align-items: center;
  }
}

@include breakpoint-down(lg) {
  .feedback {
    padding: 18vw 0;

    &__title {
      margin-bottom: 29px;
    }
    
    &__form {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include breakpoint-down(sm) {
  .feedback {
    &__title {
      margin-bottom: 19px;
    }
    
    &__form {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}